services:
  db:
    image: postgres:latest
    container_name: biblioteca_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: biblioteca
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: biblioteca_api
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: biblioteca
      DB_PORT: 5432